.body{
    background-color: rgb(56, 56, 56);
}

.types{
    padding-left: 350px;
    color: rgb(209, 58, 63);
    font-family: 'Courier New', Courier, monospace;
    font-size: 70px;
    font-weight: 700;
}

.types:hover{
    cursor: pointer;
}

.types::selection{
    color: rgb(255, 255, 255);
}

.millsTypes{
    display: block;
    font-family: 'Times New Roman', Times, serif;
    font-size:36px;
    color: rgb(255, 255, 255);
    background:none;
    border: none;
    text-align:left;
    width:550px;
    margin-left: 50px;
    padding: 10px;
}

.millsTypes:hover{
    cursor: pointer;
    text-decoration: underline;
}
