.body{
    background-color: rgb(56, 56, 56);
}

.types{
    text-align: center;
    color: rgb(209, 58, 63);
    font-family: 'Courier New', Courier, monospace;
    font-size: 60px;
    font-weight: 700;
    margin-top: 0px;
    padding-top: 35px;
}

.types:hover{
    cursor: pointer;
}


.types::selection{
    color: rgb(255, 255, 255);
}

.subTypesDiv{
    position: absolute;
    line-height: 20px;
    font-size: 24px;
    padding: 10px 20px 0px;
    width:fit-content;
    font-family: 'Courier New', Courier, monospace;
}

.subTypes{
    display: inline;
    cursor: pointer;
    color: rgb(209, 58, 63);
}


.subTypes:hover span{
    display: block;
    width: inherit;
    padding: 10px 5px 5px;
    background-color: rgb(79, 79, 79);
}

.subTypesTxt{
    display: none;
    color: rgb(255, 255, 255);
}
.subTypesTxt:hover{
    color: rgb(209, 58, 63);
}

.infoAbtEquip{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
    background:none;
    display: inline;
    text-align:center;
    font-size: 20px;
    height: 100px;
    width: 350px;
    border: none;
    padding: 16px;
}

/* .div{
    width: 1000px;
    height: 500px;
} */

.infoAbtEquip:hover{
    cursor: pointer;
    border-bottom: solid;
    border-width: 1px;
}

.infoAbtEquip:active{
    background-color: rgb(79, 79, 79);
}

.ourModel{
    color: rgb(209, 58, 63);
}

.WeChat{
    color: green;
    background: none;
    border: none;
    width:60px;
    text-align: center;
    font-weight: bold;
}

.WeChat:hover{
    cursor: pointer;
    color:greenyellow
}
