.body
{
    background-color: rgb(56, 56, 56);
}

.equipNames{
    text-align: center;
    color: rgb(209, 58, 63);
    font-family: 'Courier New', Courier, monospace;
    font-size: 70px;
    font-weight: 700;
    cursor: pointer;
}

.equipNames::selection{
    color: rgb(255, 255, 255);
}

.equipButtons{
    font-family: 'Times New Roman', Times, serif;
    color: whitesmoke;
    background:none;
    display: inline;
    border: none;
    height: 100px;
    width: 550px;
    font-size: 20px;
    text-align:left;
    margin-left: 50px;
    padding-left: 50px;
}

.equipButtons:hover{
    transition: all, 0.25s;
    background-color: aliceblue;
    color: rgb(209, 58, 63);
}

.equipButtons:active{
    background-color: rgba(240, 248, 255, 0.25);
    transition: all, 0.1s;
    transform: scale(0.95);
}

.buttonTxt:hover{
    cursor: pointer;
}



